<app-header></app-header>

<p><b>
  This is just for testing the campaign creation feature.</b></p>

<div class="container">
  <div class="column">

    <div class="campaign-label-poster">
      <a routerLink="/campaign-inside">
        <img [lazyLoad]="poster" class="campaign-poster-m"/>
      </a>
    </div>

    <div class="campaign-name">
      <label>Campaign aaaaaaa</label>
    </div>

  </div>
  <div class="column">

    <div class="campaign-label-poster">
      <a routerLink="/campaign-inside">
        <img [lazyLoad]="poster" class="campaign-poster-m"/>
      </a>
    </div>

    <div class="campaign-name">
      <label>Campaign aaaaaaa</label>
    </div>
    
  </div>

</div>

<div class="container">
  <div class="create-button">
    <button class="btn btn-primary create-btn"
            type="text"
            ><span routerLink="/campaign-creation">CREATE CAMPAIGN</span></button>
  </div>
  <div class="delete-button">
    <button class="btn btn-primary delete-btn"
            type="text"><span>DELETE CAMPAIGN</span></button>
  </div>
</div>
