div.column {
  padding: 10px;
  flex-basis: 25%;
  flex-grow: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-link {
  background-color: rgb(207, 207, 207);
  border: none;
  border-radius: 100px;
  width: 700px;
  justify-content: center;
}

a#campaign,
a#tracking,
a#donated-campaign {
  text-align: center;
  font-weight: 500;
  color: black;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: rgb(155, 131, 131);
  }
}
