@import "../styles/mixins";

@include keyframes(viewFadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(spin) {
  0% {
    @include transform(rotate(0deg))
  }
  100% {
    @include transform(rotate(360deg));
  }
}

@include keyframes(navMobile) {
  from {
    height: 0;
  }
  to {
    height: 300px;
  }
}
