<div class="container">
  <div class="campaign-container">
    <div class="column">
      <div class="column campaign-label-poster">
        <a routerLink="/campaign-inside">
          <img [lazyLoad]="poster" class="campaign-poster-m" />
        </a>
      </div>
      <div class="column campaign-name">
        <label>Campaign aaaaaaa</label>
      </div>
    </div>
  </div>

  <div class="campaign-container">
    <div class="column">
      <div class="column campaign-label-poster">
        <a routerLink="/campaign-inside">
          <img [lazyLoad]="poster" class="campaign-poster-m" />
        </a>
      </div>
      <div class="column campaign-name">
        <label>Campaign aaaaaaa</label>
      </div>
    </div>
  </div>
</div>
