form {
  display: block;
  margin-top: 0em;
  margin-bottom: 50px;
}

.column {
  padding: 10px;
  flex-basis: 25%;
  flex-grow: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  border-radius: 50px;
  background-color: rgb(197, 195, 195);
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;

  &#campaign-title,
  &#campaign-category {
    width: 350px;
  }

  &#campaign-recipient,
  &#campaign-enddate {
    width: 180px;
  }
}

textarea {
  &#campaign-description,
  &#campaign-objective {
    width: 600px;
    resize: none;
    vertical-align: top;
    border: none;
    border-radius: 10px;
    background-color: rgb(231, 230, 230);
  }
}

div {
  &.campaign-detail-form {
    width: 800px;
  }

  &.label-title,
  &.label-category,
  &.label-recipient,
  &.label-description,
  &.label-objective {
    width: 200px;
    font-weight: 400;
    font-size: 20px;
  }

  &.label-enddate {
    width: 120px;
    padding: 0 10px 0 10px;
    font-weight: 400;
    font-size: 20px;
  }

  &.title-box,
  &.category-box,
  &.recipient-enddate-box,
  &.description-box,
  &.objective-box {
    display: flex;
  }
}
