<div class="container">
  <div class="campaign-detail-form">
    <form>
      <!-- Title Box -->
      <div class="form-group title-box">
        <div class="label-title">
          <label class="title-box-label">Title</label>
        </div>
        <input
          type="text"
          id="campaign-title"
          name="campaign-title"
          class="form-control"
          placeholder="Campaign title"
          disabled
        />
      </div>

      <!-- Category Box -->
      <div class="form-group category-box">
        <div class="label-category">
          <label class="category-box-label">Category</label>
        </div>
        <input
          type="text"
          id="campaign-category"
          name="campaign-category"
          class="form-control"
          placeholder="Campaign Category"
          disabled
        />
      </div>

      <!-- Recipient Box -->
      <div class="form-group recipient-enddate-box">
        <div class="label-recipient">
          <label class="recipient-box-label">Recipient</label>
        </div>
        <input
          type="text"
          id="campaign-recipient"
          name="campaign-recipient"
          class="form-control"
          placeholder="Recipient"
          disabled
        />
        <div class="label-enddate">
          <label class="enddate-box-label">End Date</label>
        </div>
        <input
          type="text"
          id="campaign-enddate"
          name="campaign-enddate"
          class="form-control"
          placeholder="Campaign End Date"
          disabled
        />
      </div>

      <!-- Campaign Description Box -->
      <div class="form-group description-box">
        <div class="label-description">
          <label class="description-box-label">Description</label>
        </div>
        <textarea
          type="text"
          rows="5"
          id="campaign-description"
          name="campaign-description"
          class="form-control"
          placeholder="Campaign Description"
          disabled
        ></textarea>
      </div>

      <!-- Campaign Objective Box -->
      <div class="form-group objective-box">
        <div class="label-objective">
          <label class="objective-box-label">Objective</label>
        </div>
        <textarea
          type="text"
          rows="3"
          id="campaign-objective"
          name="campaign-objective"
          class="form-control"
          placeholder="Campaign Description"
          disabled
        ></textarea>
      </div>
    </form>
  </div>
</div>
